:root {
  /* Pikachu Volleyball's original width: 432px, original height: 304px */
  --aspect-ratio: calc(432 / 304);
  --inverse-aspect-ratio: calc(304 / 432);
  --canvas-width: 92vmin;
  --canvas-height: calc(92vmin * var(--inverse-aspect-ratio));
  --font-size: 18px;
  --btn-width: calc(5 * var(--font-size));
  --btn-height: calc(2 * var(--font-size));
}
/* size of iPad screen is 768px x 1024px in portrait mode */
@media only screen and (min-width: 768px) and (min-height: 768px) {
  :root {
    --font-size: 22px;
    --btn-width: calc(6 * var(--font-size));
  }
}
@media only screen and (min-aspect-ratio: 432/304) {
  :root {
    --canvas-height: calc(92vh - 2.5 * var(--btn-height) - 10px);
    --canvas-width: calc(var(--canvas-height) * var(--aspect-ratio));
  }
}
@media only screen and (max-aspect-ratio: 432/304) {
  :root {
    --canvas-width: 92vw;
    --canvas-height: calc(var(--canvas-width) * var(--inverse-aspect-ratio));
  }
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  color: #202124;
}
#flex-container,
#before-connection,
#update-history-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  width: var(--canvas-width);
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
#before-connection,
#update-history-container {
  justify-content: center;
  align-items: stretch;
  height: auto;
  font-size: var(--font-size);
  padding-left: var(--font-size);
  padding-right: var(--font-size);
  overflow: visible;
  text-align: left;
}
#about-box-head {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: var(--font-size);
  text-align: center;
  visibility: visible;
  overflow: visible;
}
#flex-container.hidden,
#before-connection.hidden {
  display: none;
}
#game-canvas-container {
  margin-left: auto;
  margin-right: auto;
}
#game-canvas-container,
canvas {
  position: relative;
  display: block;
  width: var(--canvas-width);
  height: var(--canvas-height);
}
#nicknames-container {
  position: absolute;
}
#player1-chat-box {
  right: 70%;
}
#player2-chat-box {
  left: 70%;
}
.chat-box {
  z-index: 20;
  position: absolute;
  top: 50%;
  color: white;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
  font-size: calc(1.5 * var(--font-size));
  visibility: hidden;
  opacity: 0;
  animation-name: fade-inout;
  animation-duration: 5s;
}
.chat-box.in-speech-bubble {
  color: black;
  background-color: rgba(255, 255, 255, 0.95);
}
@keyframes fade-inout {
  0% {
    visibility: visible;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
#chat-input-here {
  position: relative;
  display: block;
  height: var(--btn-height);
  margin-left: auto;
  margin-right: auto;
  width: var(--canvas-width);
}
#chat-input-and-send-btn-container,
#chat-open-btn-and-chat-disabling-btn-container,
#room-id-with-join-btn,
#create-btn-with-created-room-id {
  display: grid;
  width: 100%;
  height: 100%;
  z-index: 1;
  grid-template-columns: auto var(--btn-width);
}
#create-btn-with-created-room-id {
  grid-template-columns: var(--btn-width) auto;
}
.nickname-input-container,
#room-id-with-join-btn {
  margin-top: calc(var(--btn-height) / 2);
}
#checkbox-container,
#chat-open-btn,
#chat-input,
#chat-disabling-btn,
#send-btn {
  width: 100%;
  height: 100%;
}
#chat-input {
  grid-column-start: 1;
}
#chat-disabling-btn,
#send-btn {
  grid-column-start: 2;
  border-radius: 0;
  border-width: 1px;
}
#chat-open-btn {
  text-align: center;
  border-radius: 0;
  border-width: 1px;
}
#chat-input-and-send-btn-container,
#chat-open-btn-and-chat-disabling-btn-container {
  position: absolute;
  display: grid;
}
#menu-bar.hidden,
#chat-input-and-send-btn-container.hidden,
#chat-open-btn-and-chat-disabling-btn-container.hidden {
  display: none;
}
#chat-input-here,
#chat-input-and-send-btn-container,
#chat-open-btn-and-chat-disabling-btn-container {
  width: var(--canvas-width);
}
#network-test-btn,
#create-btn,
#join-room-id-input,
#nickname-input,
#join-btn {
  width: 100%;
  height: var(--btn-height);
}
#copy-btn {
  width: calc(var(--btn-width) / 1.5);
  height: var(--btn-height);
  background-image: none;
  background-color: white;
  color: black;
  margin-left: 20px;
}
#join-room-id-input,
#create-btn {
  grid-column-start: 1;
}
#network-test-btn,
#create-btn,
#join-btn,
#chat-disabling-btn,
#send-btn,
#chat-open-btn,
#copy-btn {
  font-size: calc(0.8 * var(--font-size));
}
#created-room-id-container,
#join-room-id-input,
#nickname-input,
#chat-input {
  font-size: var(--font-size);
}
#join-btn,
#created-room-id-container {
  grid-column-start: 2;
}
#created-room-id-container {
  display: flex;
  align-items: center;
}
#quick-match-log-container {
  width: 100%;
  font-size: var(--font-size);
}
div.log {
  width: 100%;
  font-size: var(--font-size);
}
#container-for-margin {
  min-height: 50vh;
  width: 100%;
}
p.languages,
p.small,
p.offline-version,
p.original-by,
p.reverse-engineered-by,
p.source-code-on,
p.release-date,
p.update-history-on {
  font-size: 0.8em;
  line-height: 150%;
}
p.release-date {
  margin-block-end: 0;
}
p.update-history-on {
  margin-block-start: 0;
  margin-block-end: 0;
}
span.no-wrap {
  white-space: nowrap;
}
span.bold {
  font-weight: bold;
}
span.thick {
  font-weight: 900;
}
span.margin-left-right {
  margin-left: 10px;
  margin-right: 10px;
}
.fade-in-box {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: var(--canvas-width);
  height: var(--canvas-height);
  font-size: var(--font-size);
  padding-left: var(--font-size);
  padding-right: var(--font-size);
  text-align: center;
  z-index: 10;
  visibility: visible;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  animation-name: fade-in;
  animation-duration: 1s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-box.hidden {
  display: none;
}
.fade-in-box.black {
  background-color: black;
  color: white;
  animation-duration: 0s;
}
.fade-in-box.peer-loading {
  z-index: 5;
}
.fade-in-box.loading {
  z-index: 6;
}
.fade-in-box.ping {
  z-index: 7;
}
#progress-bar-border {
  position: relative;
  border: solid;
  border-color: white;
  height: var(--btn-height);
  width: calc(var(--canvas-width) / 2);
}
#progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  /*width: width is set on style property of progress-bar element;*/
  height: 100%;
  background-color: white;
}
button {
  display: inline-block;
  border: 2px solid rgb(50, 50, 50);
  margin: 0;
  padding: 0;
  background-color: rbg(210, 210, 210);
  background-image: linear-gradient(rgb(250, 250, 250), rgb(230, 230, 230));
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
input {
  border-color: black;
}
button:disabled,
input:disabled {
  border-color: rgb(200, 200, 200);
  color: rgb(200, 200, 200);
}
button.btn-in-box {
  display: block;
  height: calc(2 * var(--font-size));
  width: calc(6 * var(--font-size));
  border: none;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(50, 50, 50);
  background-image: none;
  color: white;
  font-size: var(--font-size);
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
button.large {
  height: calc(3 * var(--font-size));
  width: calc(7 * var(--font-size));
}
img.screenshot,
img.controls {
  width: 100%;
}
img.screenshot {
  max-width: 864px;
}
img.controls {
  max-width: 950px;
}
div.hidden,
span.hidden,
button.hidden,
audio.hidden {
  display: none;
}
div.margin-top,
p.margin-top {
  margin-top: calc(2.5 * var(--font-size));
}
div.margin-top-a-little {
  margin-top: var(--font-size);
}
div.limit-width {
  max-width: 864px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  margin-top: var(--font-size);
  margin-bottom: var(--font-size);
}
div.grid-1-1 {
  display: grid;
  width: 100%;
  height: calc(3 * var(--btn-height));
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
div.grid-1-1.center {
  width: auto;
  height: auto;
}
div.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#quick-match-btn {
  grid-column-start: 1;
  font-size: var(--font-size);
}
#with-your-friend-btn {
  grid-column-start: 2;
  font-size: var(--font-size);
}
div.scroll {
  overflow: scroll;
}
button:disabled {
  background-color: #cccccc;
}
#menu-bar {
  display: grid;
  width: var(--canvas-width);
  height: calc(1.5 * var(--btn-height));
  grid-template-columns: 2fr 1fr;
  margin-bottom: 10px;
}
button.btn {
  display: inline-block;
  grid-row-start: 1;
  width: var(--btn-width);
  height: calc(1.5 * var(--btn-height));
  border: none;
  border-radius: 10px;
  padding: 0;
  color: white;
  background-color: rgba(50, 50, 50, 1);
  background-image: none;
  font-size: var(--font-size);
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}
button.btn:disabled {
  background-color: #cccccc;
}
.relative-container {
  position: relative;
}
.dropdown,
.submenu {
  position: absolute;
  display: none;
  z-index: 16;
}
.dropdown.show {
  display: block;
}
.submenu.show {
  display: inline-block;
}
.dropdown .btn {
  margin-right: 0;
  background-color: rgba(100, 100, 100, 0.9);
}
.submenu > .btn {
  width: calc(1.4 * var(--btn-width));
  margin-left: 0;
}
.dropdown .btn:hover,
.submenu-btn.open {
  background-color: rgba(50, 50, 50, 0.9);
}
span.check {
  display: none;
}
.selected > span.check {
  display: inline;
}
.pre-wrap {
  white-space: pre-wrap;
}
#update-history-container h1 {
  font-size: calc(1.5 * var(--font-size));
}
div.indent-minus {
  text-indent: calc(-5.4 * var(--font-size));
  margin-left: calc(5.4 * var(--font-size));
}
div.nicknames-container {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -30%; /* half of width */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: calc(1.5 * var(--font-size));
  width: 60%;
  height: calc(4 * var(--font-size));
  z-index: 9;
}
.nickname-and-partial-ip {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.nickname-and-partial-ip.left {
  align-items: flex-end;
}
.nickname-and-partial-ip.right {
  align-items: flex-start;
}
.nickname,
.partial-ip {
  color: white;
}
.nickname {
  font-size: calc(1.1 * var(--font-size));
}
.partial-ip {
  font-size: calc(0.8 * var(--font-size));
}
/* CSS for replay is below */
#dropbox {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.btn-container.left {
  grid-column-start: 1;
  justify-content: flex-start;
}
.btn-container.right {
  grid-column-start: 2;
  justify-content: flex-end;
}
#scrubber-range-input {
  width: var(--canvas-width);
  height: var(--btn-height);
}
span.margin-left-right {
  margin-left: calc(var(--font-size) / 1.5);
  margin-right: calc(var(--font-size) / 1.5);
}
button.btn-for-replay {
  height: var(--btn-height);
  width: calc(var(--btn-width) / 2);
  font-size: calc(var(--font-size) / 1.2);
}
button.btn-for-replay.selected {
  background-color: rgb(50, 163, 255);
  background-image: none;
  color: white;
  font-weight: bold;
}
#play-pause-btn {
  font-size: var(--font-size);
}
div.inline {
  display: inline;
}
div.margin-top-little {
  margin-top: calc(var(--font-size) / 1.5);
}
input[type='file'] {
  display: none;
}
label.custom-file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(50, 50, 50);
  margin: 0;
  padding: 0;
  background-color: rbg(210, 210, 210);
  background-image: linear-gradient(rgb(250, 250, 250), rgb(230, 230, 230));
  color: black;
  border-radius: 5px;
  width: var(--btn-width);
  height: var(--btn-height);
  cursor: pointer;
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}
.flex-for-keyboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
.grid-for-keyboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  width: calc(5 * var(--btn-height));
  height: calc(2.3 * var(--btn-height));
}
#z-key,
#enter-key {
  grid-row-start: 1;
  grid-column-start: 1;
}
#r-key,
#up-key {
  grid-row-start: 1;
  grid-column-start: 3;
}
#d-key,
#left-key {
  grid-row-start: 2;
  grid-column-start: 2;
}
#v-key,
#down-key {
  grid-row-start: 2;
  grid-column-start: 3;
}
#g-key,
#right-key {
  grid-row-start: 2;
  grid-column-start: 4;
}
.keyboard-key {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(50, 50, 50);
  font-size: var(--font-size);
}
.keyboard-key.pressed {
  background-color: rgb(255, 0, 0);
  color: white;
}
#show-hide-keyboard-btn {
  font-size: calc(var(--font-size) / 1.3);
  width: var(--btn-width);
}
div.show-checkboxes-container {
  font-size: calc(var(--font-size) / 1.2);
}
label[for='fps-input'] {
  margin-left: 10px;
}
#fps-input {
  height: var(--btn-height);
  width: calc(var(--btn-width) / 2);
  font-size: calc(var(--font-size) / 1.2);
}
