:root {
  /* Pikachu Volleyball's original width: 432px, original height: 304px */
  --aspect-ratio: calc(432 / 304);
  --inverse-aspect-ratio: calc(304 / 432);
  --canvas-width: 96vmin;
  --canvas-height: calc(96vmin * var(--inverse-aspect-ratio));
  --font-size: 18px;
  --btn-font-size: 18px;
  --btn-width: calc(5 * var(--btn-font-size));
  --btn-height: calc(var(--btn-width) * 3 / 5);
}
/* size of iPad screen is 768px x 1024px in portrait mode */
@media only screen and (min-width: 768px) and (min-height: 768px) {
  :root {
    --font-size: 22px;
    --btn-font-size: 22px;
  }
}
@media only screen and (min-aspect-ratio: 432/304) {
  :root {
    --canvas-width: calc(96vh * var(--aspect-ratio));
    --canvas-height: 96vh;
  }
}
@media only screen and (max-aspect-ratio: 432/304) {
  :root {
    --canvas-width: 96vw;
    --canvas-height: calc(96vw * var(--inverse-aspect-ratio));
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
#flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#menu-bar {
  display: grid;
  width: var(--canvas-width);
  grid-template-columns: 4fr 1fr;
  margin-bottom: 10px;
}
.btn-container {
  display: flex;
  align-items: center;
}
.btn-container.left {
  grid-column-start: 1;
  justify-content: flex-start;
}
.btn-container.right {
  grid-column-start: 2;
  justify-content: flex-end;
}
.btn {
  display: inline-block;
  grid-row-start: 1;
  width: var(--btn-width);
  height: var(--btn-height);
  border: none;
  border-radius: 10px;
  padding: 0;
  color: white;
  background-color: rgba(50, 50, 50, 1);
  font-size: var(--btn-font-size);
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}
#game-dropdown-btn {
  margin-left: 0;
}
#about-btn {
  margin-right: 0;
}

.relative-container {
  position: relative;
}

.dropdown,
.submenu {
  position: absolute;
  display: none;
  z-index: 1;
}

.dropdown.show {
  display: block;
}

.submenu.show {
  display: inline-block;
}

.dropdown .btn {
  margin-right: 0;
  background-color: rgba(100, 100, 100, 0.9);
}

.submenu > .btn {
  width: calc(1.4 * var(--btn-width));
  margin-left: 0;
}

.dropdown .btn:hover,
.submenu-btn.open {
  background-color: rgba(50, 50, 50, 0.9);
}

span.check {
  display: none;
}

.selected > span.check {
  display: inline;
}

#game-canvas-container {
  position: relative;
  grid-row-start: 2;
}

#game-canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: var(--canvas-width);
  height: var(--canvas-height);
}

.fade-box {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: var(--canvas-width);
  height: var(--canvas-height);
  font-size: var(--font-size);
  padding-left: var(--font-size);
  padding-right: var(--font-size);
  text-align: center;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
.fade-box.in {
  z-index: 10;
  visibility: visible;
  opacity: 1;
  animation-name: fade_in;
  animation-duration: 1s;
}
.fade-box.in.about {
  justify-content: flex-start;
  top: 0;
  height: calc(3 * var(--canvas-height));
  overflow: visible;
  text-align: left;
}
@keyframes fade_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button.btn-in-box {
  display: block;
  height: calc(2 * var(--btn-font-size));
  width: calc(4 * var(--btn-font-size));
  border: none;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(50, 50, 50);
  color: white;
  font-size: var(--btn-font-size);
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

p.original-by,
p.reverse-engineered-by,
p.release-date,
p.last-updated {
  font-size: 0.8em;
  line-height: 150%;
}
p.release-date,
p.last-updated {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: calc(1.2 * var(--font-size));
}

.hidden,
#menu-bar.hidden {
  display: none;
}

span.no-wrap {
  white-space: nowrap;
}
span.thick {
  font-weight: 900;
}

img.controls {
  max-width: 100%;
}
