:root {
  /* Pikachu Volleyball's original width: 432px, original height: 304px */
  --aspect-ratio: calc(432 / 304);
  --inverse-aspect-ratio: calc(304 / 432);
  --width: 96vmin;
  --height: calc(96vmin * var(--inverse-aspect-ratio));
  --font-size: 18px;
  --btn-width: calc(5 * var(--font-size));
  --btn-height: calc(3 * var(--font-size));
}
@media only screen and (min-aspect-ratio: 432/304) {
  :root {
    --width: calc(96vh * var(--aspect-ratio));
    --height: 96vh;
  }
}
@media only screen and (max-aspect-ratio: 432/304) {
  :root {
    --width: 96vw;
    --height: calc(96vw * var(--inverse-aspect-ratio));
  }
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
#grid-container0 {
  display: grid;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-content: center;
  grid-template-rows: calc(3 * var(--font-size)) var(--height);
  grid-gap: 10px;
}
#grid-container1 {
  display: grid;
  width: 100%;
  grid-template-columns: 4fr 1fr;
}

.btn-container {
  display: flex;
  align-items: center;
}
.btn-container.left {
  grid-column-start: 1;
  justify-content: flex-start;
}
.btn-container.right {
  grid-column-start: 2;
  justify-content: flex-end;
}
.btn {
  display: inline-block;
  grid-row-start: 1;
  width: var(--btn-width);
  height: var(--btn-height);
  border: none;
  border-radius: 10px;
  padding: 0;
  color: white;
  background-color: rgba(50, 50, 50, 1);
  font-size: calc(var(--font-size) * 1.2);
  text-align: center;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

.relative-container {
  position: relative;
}

.dropdown,
.submenu {
  position: absolute;
  display: none;
}

.dropdown .btn {
  display: inline-block;
  margin-right: 0px;
  background-color: rgba(100, 100, 100, 0.9);
}

.submenu > .btn {
  width: calc(1.4 * var(--btn-width));
  margin-left: 0px;
}

.dropdown .btn:hover,
.submenu-btn.open {
  background-color: rgba(50, 50, 50, 0.9);
}

span.check {
  display: none;
}

.selected > span.check {
  display: inline;
}

.show-block {
  display: block;
}

.show-inline-block {
  display: inline-block;
}

#game-screen {
  display: block;
  grid-row-start: 2;
  margin-left: auto;
  margin-right: auto;
  width: var(--width);
  height: var(--height);
}
